<div id="<%= dom_id personel %>">
  <p>
    <strong>Name:</strong>
    <%= personel.name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= personel.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= personel.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= personel.date_of_birth %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= personel.phone %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= personel.role %>
  </p>

</div>
