<div id="<%= dom_id information %>">
  <p>
    <strong>Source:</strong>
    <%= information.source %>
  </p>

  <p>
    <strong>Distination:</strong>
    <%= information.distination %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= information.content %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= information.date %>
  </p>

</div>
