<div id="<%= dom_id schedule %>">
  <p>
    <strong>Date:</strong>
    <%= schedule.date %>
  </p>

  <p>
    <strong>First h:</strong>
    <%= schedule.first_H %>
  </p>

  <p>
    <strong>Second h:</strong>
    <%= schedule.second_H %>
  </p>

  <p>
    <strong>Third h:</strong>
    <%= schedule.third_H %>
  </p>

  <p>
    <strong>Fourth h:</strong>
    <%= schedule.fourth_H %>
  </p>

  <p>
    <strong>Fifth h:</strong>
    <%= schedule.fifth_H %>
  </p>

  <p>
    <strong>Sixth h:</strong>
    <%= schedule.sixth_H %>
  </p>

  <p>
    <strong>Seven h:</strong>
    <%= schedule.seven_H %>
  </p>

</div>
