<p style="color: green"><%= notice %></p>

<%= render @course_teacher %>

<div>
  <%= link_to "Edit this course teacher", edit_course_teacher_path(@course_teacher) %> |
  <%= link_to "Back to course teachers", course_teachers_path %>

  <%= button_to "Destroy this course teacher", @course_teacher, method: :delete %>
</div>
