<div id="<%= dom_id accountant %>">
  <p>
    <strong>Name:</strong>
    <%= accountant.name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= accountant.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= accountant.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= accountant.date_of_birth %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= accountant.phone %>
  </p>

</div>
