<div id="<%= dom_id detail_paiement %>">
  <p>
    <strong>Frais name:</strong>
    <%= detail_paiement.frais_name %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= detail_paiement.montant %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= detail_paiement.end_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= detail_paiement.description %>
  </p>

</div>
