<div id="<%= dom_id study_director %>">
  <p>
    <strong>Name:</strong>
    <%= study_director.name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= study_director.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= study_director.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= study_director.date_of_birth %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= study_director.phone %>
  </p>

</div>
