<div id="<%= dom_id date_evaluation %>">
  <p>
    <strong>Date:</strong>
    <%= date_evaluation.date %>
  </p>

  <p>
    <strong>Maximum:</strong>
    <%= date_evaluation.maximum %>
  </p>

  <p>
    <strong>Classroom course:</strong>
    <%= date_evaluation.classroom_course_id %>
  </p>

  <p>
    <strong>Periode:</strong>
    <%= date_evaluation.periode_id %>
  </p>

  <p>
    <strong>Is remote:</strong>
    <%= date_evaluation.is_remote %>
  </p>

</div>
