<div id="<%= dom_id administrator %>">
  <p>
    <strong>Name:</strong>
    <%= administrator.name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= administrator.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= administrator.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= administrator.date_of_birth %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= administrator.phone %>
  </p>

</div>
