<div id="<%= dom_id parent %>">
  <p>
    <strong>Name:</strong>
    <%= parent.name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= parent.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= parent.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= parent.date_of_birth %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= parent.phone %>
  </p>

</div>
