<%= form_with(model: paiement) do |form| %>
  <% if paiement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paiement.errors.count, "error") %> prohibited this paiement from being saved:</h2>

      <ul>
        <% paiement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :montant, style: "display: block" %>
    <%= form.text_field :montant %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
